
%form.form-inline
  %br
  .form-group
    %label{:for => "exampleInputEmail2"} Email
  %br
    %input#exampleInputEmail2.form-control{:placeholder => "test@example.com", :type => "email"}
  %br
  %button.btn.btn-default{:type => "submit"} Confirm order
  = link_to 'Send', send_order_path