/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

input[type=submit] { @extend .btn; @extend .btn-primary; @extend .btn-xs }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.all_file {
  position: relative;
}

body, html {
  width: 100%;
  height: 100%;
}

.body {
  color: #040804;
}

.header {
  color: #0a0a0a;
  background-color: #606388;
  height: 110px;
  padding: 15px;
}
h1 {
  display: inline-block;
}

.langs {
  display: inline-block;
  float: right;
  margin-top: 15px;
  }
.logins {
  margin-left: 30px;
  margin-right: 15px;
}
.demo {
  margin-left: 30px;
  margin-right: 15px;
}
.footer {
  color: white;
  background-color: #b8b366;
  height: 70px;
  padding: 25px;
  font-size: 16px;
  text-align: right;
}
.main {
  background-color: #ede999;
  padding: 15px;
  min-height: 490px;
}