// Place all the styles related to the products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all_file {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  //min-height: 460px;
}

.links_inline {
  display: inline-block;
}

.header1 {
  display: inline-block;
}

.header_new {
  margin-left: 200px;
}

.cart_pic {
  float: right;
  margin-right: 100px;
}

.field, .actions {
  margin: 15px;
}

.image_empty {
  margin-left: 470px;
}

.submit_button {
  margin-left: 34%;
}